.palette {
  width: 80px;
  background: #fff;
  border-right: 2px #ddd solid;
  height: 100%;
  }
  
.shape {
  padding: 15px;
  border-bottom: 1px #ddd solid;
  }
.shape svg {
  display: block;
  stroke: #88a1c7;
  fill: #dce8fa;
  stroke-width: 3px;
}